.image-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .ownerImage {
  
    cursor: pointer;
    transition: opacity 0.3s ease, filter 0.3s ease;
  }
  
  .ownerImage:hover {
    opacity: 0.5; /* Hace que la imagen se vea más tenue */
  }
  
  .remove-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    color: white;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-wrapper:hover .remove-text {
    opacity: 1; /* Hace que el texto se vea cuando el mouse pasa sobre la imagen */
    
  }
  